.trigger {
	padding-left: 5px;
	display: flex;
}

.tag-box {
	background-color: red;
	border: 1px solid;
	border-radius: 5px;
	padding: 4px;
	margin: 2px;
}
.tag-delete-box {
	display: flex;
	align-items: center;
}

.option-row {
	display: flex;
	justify-content: space-between;
}
